*{
    margin: 0;
    padding: 0;
}
.image_flag{
    height: 200px;
    width: 100%;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.container{
    background-color: #4e95a0;
    min-height: 100vh;
    border: 10px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.image_container{
    width: 300px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
}
.top_section h4{
    font-size: 30px;
    font-weight: bold;
    text-align: end;
}
.paraContenth1{
    padding-top: 10%;
    padding-left: 2%;
    padding-bottom: 5%;
    font-size: 50px;
    word-spacing: 5dvb;
}
.paraContent{
    padding-left: 2%;
    word-spacing: 10%;
}
.end{
    padding-top: 5%;
    padding-left: 2%;
    text-decoration: underline;
}
.endEdit{
    padding-top: 5%;
    padding-left: 8%;
}